<div
  class="container d-flex justify-content-center align-items-center vh-100 col"
>
  <div class="card shadow-lg xcard" style="width: 25rem">
    <div class="card-body">
      <h5 class="card-title text-center">Login</h5>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="Email"
            name="email"
            required
            email
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="Password"
            name="password"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary w-100"
          [disabled]="!loginForm.form.valid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
