.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  -webkit-box-shadow: -4px 9px 37px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 9px 37px 1px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 9px 37px 1px rgba(0, 0, 0, 0.75);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.home-body {
  display: flex;
  flex-wrap: wrap;
}
